# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# huge data file
supplementary-analysis/10-million-combos.txt
supplementary-analysis/allWords1900on.txt
